* {
    padding: 0;
    margin: 0;
  }
  .container {
    height: 100vh;
    background: #000002;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .home {
    height: 100%;
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  @media screen and (max-width: 556px) {
    .home {
      height: 80%;
    }
  }
  @media screen and (max-width: 480px) {
    .home {
      height: 60%;
    }
  }